.profile__edit-button {
  padding: 0;
  margin: 0;
  margin-top: 7px;
  margin-left: 25px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: #000000;
  background-image: url(../../../images/editbutton.png);
  border: 1px solid #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity .4s ease;
  align-self: center;
  box-sizing: border-box;
}

.profile__edit-button:hover {
  border: 2px solid #FFFFFF;
  opacity: 0.6;
}

@media screen and (max-width: 579px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}